p {
    font-family: Arial;
    font-size: 25px;
}
body {
   /* background-image: url(img.avif); */
    font-family: Arial ;
    font-size: 40px;
    background-size: cover;
    font-weight: bold;
    text-align: center;
    

}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;

}
.increment-button {
    width: 150px;
    height: 40px;
    background-color: rgb(173, 12, 12);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.save-btn {
        width: 150px;
        height: 40px;
        background-color: rgb(4, 136, 57);
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 5px;
        cursor: pointer;
}